*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin-bottom:5%
}
section{
    text-align: center;
    padding-top: 2%;
}
img{
    width: 35%;
}
div{
    margin-top: 2%;
}
.flex{
    display: flex;
    justify-content:center;
    gap: 20%;
}

.pres{
    margin-top:5%;
    
}
img{
    border-radius: 100%;
    width: 400px;
    height: 400px;
}
.contener1
{
    padding: 1%;
    border-radius: 75px ;
    background-color: rgb(197, 98, 230);
    border: solid rgb(217, 68, 217) 10px;
    width: 50%;
}

.contener3
{
    padding: 1%;
    border-radius: 75px ;
    background-color: rgb(165, 164, 163);
    border: solid rgb(0, 0, 0) 5px;
    width: 50%;
}
.contener h2{
    padding-bottom: 5%;
}

.title{
    font-size:50px;
}
/* Catégorie Passion*/
.contener2
{
    padding: 1%;
    border-radius: 75px ;
    background-color: rgb(255, 181, 141);
    border: solid rgb(255, 71, 71) 10px;
    width: 50%;
}
.Passion{
    width: auto;
    display: flex;
}
.Passion img{
    width: 175px;
    height: 175px;

}
.Block{
    display: block;
}
/* Tabs */
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    width:auto;
  }
  .tab{
    padding: 8px 16px;
    font-size: 24px;
    color: black;
    font-family: sans-serif;
    transition: 0.7s;
  }
  .tab:hover{
    background-color: grey;
    cursor: pointer;
  }
  .tab-active{
    background-color: darkgray;
  }
  .content{
    display: none;
    width: 100%;
    height: 400px;
  }
  
  .content > p {
    font-family: sans-serif;
    font-size: 18px;
  }
  .active{
    display: block;
  }

  @media only screen and (max-width:  1280px){
img{
    width: 250px;
    height: 250px;
}
.contener1{
    width: 50%;
}

  }

  @media only screen and (max-width:  800px){
    img{
        width: 200px;
        height: 200px;
    }
    .contener1{
        width: 50%;
    }
    
      }


      @media only screen and (max-width:  500px){
        img{
            width: 125px;
            height: 125px;
        }
        .flex{
            gap:10%;
        }
        .contener1{
            width: 50%;
            padding:5%;
            font-size: 75%;
        }
        .tab{
            font-size: 100%;

        }
        
          }